@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Alta';
  src: url('../assets/fonts/alta-regular.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {

    /* fuentes */
    --font1: Montserrat;
    --font2: Alta;
    --font3: Assistant;

    /* colores */
    --color1: rgb(245,245,245); /* fondo principal */
    --color2: rgb(0,178,169); /* Quirón 1 */
    --mobile-navbar: rgba(225,62,82,0.88); /* Quirón 1 */
    --color3: rgb(225,62,82); /* Quirón 2 */
    --color4: rgba(0,0,0,0.87); /* textos claros */
    --color5: #FFFFFF;
    --color6: #FF8A65;
    --color7: rgb(75,79,84); /* Quirón 3: textos */
    --color8: black;

    /* contenedores */
    --h1-fonF1: var(--font3), sans-serif;
    --h1-size1: 2.45rem;
    --h1-weig1: 400;
    --h1-color1: var(--color2);

    --p-fonF1: var(--font3), sans-serif;
    --p-size1: 1.1rem;
    --p-weig1: 300;
    --p-linH1: 2;
    --p-color1: var(--color4);




    /* tamaños de fuente */
    --size1: 0.8rem;
    --size2: 1.2rem;
    --size3: 1.5rem;
    --logo: 1.8rem; /* logo proincipal modo texto*/
    --size4: 2.0rem;

    /* pesos de fuente */
    --w1: 200;
    --w2: 300; /* navbar */
    --w3: 400; /* estándar */
    --w4: 600;
    --w5: 800;



}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .navbar {
    opacity: 0;
  }
}

body {
  font-family: var(--font3), sans-serif;
  background-color: var(--color1);
}

/* ===== HEADER ===== */

.hero {
    position: relative;
    height: 100vh;
    background-image: url("../assets/images/header.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.05);
}

/* Navbar */

.navbar {
    position: relative;      /* clave */
    top: 0;
    left: 0;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--size3) 0;
    color: var(--color7);
    z-index: 10;
    opacity: 1;
    transition: opacity 1s ease;
}

/* Logo */

.nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    line-height: 0;
}

.nav-logo .logo-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-txt a {
  color: var(--color7);
  font-size: var(--logo);
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font2), sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  transform: translateY(0px);
}

.logo-txt span {
  color: var(--color7);
  font-family: var(--font3), sans-serif;
  text-transform: uppercase;
  font-size: calc(var(--logo) * 0.345);
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  transform: translateY(0px);
}

.nav-logo .logo-txt-min {
    display: none; /* ocultar la imagen por defecto */
}

.logo-txt-min {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav-logo .logo-txt-min img {
    height: var(--size4);
    width: auto;
    object-fit: cover;
}

.logo-txt-min a {
    color: var(--color7);
    font-size: var(--size4);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font2), sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
}

/* Toggle */

#menu-toggle {
  display: none;
}

/* Hamburguesa */

.menu-icon {
    display: none;              /* visible solo en mobile */
    width: var(--size4);
    height: var(--size3);
    cursor: pointer;
    z-index: 1001;
    flex-direction: column;
    justify-content: space-between;
    position: relative;         /* ya no absolute */
}

.menu-icon span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.08rem;
    background: var(--color7);
    opacity: 0.7;
    transition: transform 0.4s ease, opacity 0.3s ease, background 0.3s ease;
}

#menu-toggle:checked + .menu-icon span {
  background: var(--color4);    /* color de la X */
}

.menu-icon span:nth-child(1) {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-icon span:nth-child(3) {
  bottom: -1px;
}

/* Transformación a X */

#menu-toggle:checked + .menu-icon span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

#menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .menu-icon span:nth-child(3) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

/* ===== ENLACES (DESKTOP + MOBILE) ===== */

.nav-links a, .nav-social a {
  font-family: var(--font3);
  font-size: var(--size2);
  font-weight: var(--w2) !important;
  color: var(--color7);
  text-decoration: none;
  transform: translateY(0px);
  transition: transform 0.4s ease;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;          /* ajusta la distancia al texto */
    width: 0;
    height: 1px;
    background-color: var(--color7);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 2rem;
    opacity: 0.5;
}

.nav-links a:hover, .nav-social a:hover {
    color: var(--color7);
    font-weight: var(--w5);
    transform: translateY(-4px);
    transition: transform 0.4s ease;
}
/* Desktop */

.nav-menu {
    display: flex;
    justify-content: center;
    gap: var(--size4);
}

.nav-logo, .nav-links, .nav-social, .nav-extra {
    flex: 1;
    display: flex;
    gap: var(--size4);
}

.nav-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size4);
    display: none;              /* oculto en el menú principal */
}

.nav-extra .nav-info span,
.nav-extra .nav-social a {
    font-family: var(--font2);
    font-size: var(--size3);
    font-weight: var(--w4);
    color: var(--color1);
    text-decoration: none;
    line-height: 2rem;
}

/* Botón cerrar oculto por defecto */

.close-btn {
  display: none;
}

/* ===== MAIN ===== */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--size4) 0;
    gap: var(--size4);
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}

.container {
    min-width: 0;
}

main p {
    font-family: var(--p-fonF1);
    font-size: var(--p-size1);
    font-weight: var(--p-weig1);
    line-height: var(--p-linH1);
    color: var(--p-color1);
}

main h1 {
    font-family: var(--h1-fonF1);
    font-size: var(--h1-size1);
    font-weight: var(--h1-weig1);
    color: var(--h1-color1);
    margin-bottom: var(--size2);
}



/* ===== MEDIA QUERIES ===== */
/* ===== MOBILE ===== */
@media (max-width: 768px) {

    .hero {
        aspect-ratio: 9 / 16;
        height: auto;
    }

    .navbar {
        padding: var(--size2) 0;
        transition: padding 0.5s ease;
    }
    
    .menu-icon {
        display: flex;
    }
    
    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background: var(--mobile-navbar);
        padding: 100px var(--size3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: right 0.4s ease;
    }

    .logo-txt a {
        font-size: calc( var(--logo) * 1.2);
        transition: font-size 0.4s ease;
    }

    .logo-txt span {
        font-size: calc( calc(var(--logo) * 0.345) * 1.2);
        transition: font-size 0.4s ease;
    }
    
    /* Mostrar menú */

    #menu-toggle:checked ~ .nav-menu {
        right: 0;
    }
    
    #menu-toggle:checked ~ .nav-menu .nav-extra {
        display: block;
        margin-top: var(--size4);       /* separación de las RRSS */
    }

    /* Botón cerrar visible SOLO en mobile */

    .close-btn {
        display: block;
        align-self: flex-end;
        font-size: 1.8rem;
        cursor: pointer;
        margin-bottom: 2rem;
    }

    /* Enlaces alineados arriba izquierda */

    .nav-links {
        flex-direction: column;
        gap: var(--size2);
        margin-bottom: var(--size4);
    }

    .nav-links a, .nav-social a {
        color: var(--color1);
        opacity: 0;
        transform: translateX(20px);
    }

    .nav-links a::after {
        background-color: var(--color8);
    }

    .nav-links a:hover, .nav-social a:hover {
        color: var(--color8);
    }


    #menu-toggle:checked ~ .nav-menu .nav-links a,
    #menu-toggle:checked ~ .nav-menu .nav-social a {
        animation: cascade 0.4s forwards;
    }

    .nav-extra ul {
        gap: var(--size4);      /* mismo espacio que los enlaces */
    }

    .nav-extra li {
        color: var(--color4);
        opacity: 0;
        transform: translateX(20px);
        animation: cascadeExtra 0.4s forwards;
    }

    .nav-social {
        display: flex;
        gap: var(--size4);
        margin-bottom: var(--size4);
    }

    .nav-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* Cascada */
    
    #menu-toggle:checked ~ .nav-menu .nav-links a:nth-child(1) { animation-delay: 0.1s; }
    #menu-toggle:checked ~ .nav-menu .nav-links a:nth-child(2) { animation-delay: 0.2s; }
    #menu-toggle:checked ~ .nav-menu .nav-links a:nth-child(3) { animation-delay: 0.3s; }
    #menu-toggle:checked ~ .nav-menu .nav-links a:nth-child(4) { animation-delay: 0.4s; }
    #menu-toggle:checked ~ .nav-menu .nav-extra .nav-social a:nth-child(1) { animation-delay: 0.5s; }
    #menu-toggle:checked ~ .nav-menu .nav-extra .nav-social a:nth-child(2) { animation-delay: 0.6s; }
    #menu-toggle:checked ~ .nav-menu .nav-extra .nav-info span {
        opacity: 0;
        transform: translateX(20px);
        animation: cascadeExtra 0.4s forwards;
    }

    #menu-toggle:checked ~ .nav-menu .nav-extra .nav-info span:nth-child(1) { animation-delay: 0.7s; }
    #menu-toggle:checked ~ .nav-menu .nav-extra .nav-info span:nth-child(2) { animation-delay: 0.8s; }

    .main-container {
        flex-direction: column;
        gap: var(--size3);
    }


}

@media (max-width: 384px) {

    .navbar {
        width: 90vw;
        padding: calc(var(--size1) * 0.5) 0;
        transition: width 0.4 ease, padding 0.4s ease;
    }

    .nav-menu {
        width: 100%;
        align-items: center;
    }

    .nav-logo {
        flex-direction: row;
        justify-content: flex-start;
    }

    .nav-logo .logo-txt {
        display: none;
    }

    .nav-logo .logo-txt-min {
        display: block;
    }

    .logo-txt-min a {
        font-size: calc( var(--logo) * 1.6);
        transform: translateY(2px);
        transition: font-size 0.8s ease;
    }

    .nav-links a::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .nav-links a, .nav-social a {
        text-align: center;
    }

    .nav-info {
        align-items: center;
    }

    main {
        padding: var(--size1) 0;
        gap: var(--size1);
    }

    .main-container {
        width: 90vw;
        transition: width 0.4s ease;
    }

    main h1 {
        font-size: calc(var(--h1-size1) * 0.80);
        transition: font-size 0.4s ease;
    }

    main p {
        font-size: calc(var(--p-size1) * 0.85);
        transition: font-size 0.4s ease;
    }

}

/* Animación */

@keyframes cascade {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes cascadeExtra {
    to { 
        opacity: 1;
        transform: translateX(0);
    }
}