@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Alta';
  src: url('../assets/fonts/alta-regular.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {

    /* fuentes */
    --font1: Montserrat, sans-serif;
    --font2: Alta, sans-serif;
    --font3: Assistant, sans-serif;

    /* colores */
    --color1: rgb(245,245,245);     /* fondo principal */
    --color2: rgba(0,178,169, 0.88);       /* Paleta 1 */
    --color3: rgba(225,62,82,0.88); /* Paleta 2 */
    --color4: rgb(75,79,84);        /* Paleta 3 */
    --color5: rgba(0,0,0,0.8);          /* Negro Puro */

    /* tamaños especiales */
    --logo: 36px; /* logo principal modo texto*/

}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .navbar { opacity: 0; }
}

body {
  font-family: var(--font3);
  background-color: var(--color1);
}

/* ===== HEADER ===== */

.hero {
    position: relative;
    height: 100vh;
    background-image: url("../assets/images/header.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.05);
}

/* Navbar */

.navbar {
    position: relative;      /* clave */
    top: 0;
    left: 0;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    color: var(--color4);
    z-index: 10;
    opacity: 1;
    transition: opacity 1s ease;
}

/* Logo */

.nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    line-height: 0;
}

.nav-logo .logo-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-txt a {
    color: var(--color4);
    font-size: 36px;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font2);
    margin: 0;
    padding: 0;
    line-height: 30px;
    display: block;
    transform: translateY(1px);
}

.logo-txt span {
  color: var(--color4);
  text-transform: uppercase;
  font-size: calc(var(--logo) * 0.345);
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  transform: translateY(0px);
}

.nav-logo .logo-txt-min {
    display: none; /* ocultar la imagen por defecto */
}

.logo-txt-min {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav-logo .logo-txt-min img {
    height: 32px;
    width: auto;
    object-fit: cover;
}

.logo-txt-min a {
    color: var(--color4);
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font2);
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
}

/* Toggle */

#menu-toggle {
  display: none;
}

/* Hamburguesa */

.menu-icon {
    display: none;              /* visible solo en mobile */
    width: 32px;
    height: 20px;
    cursor: pointer;
    z-index: 1001;
    flex-direction: column;
    justify-content: space-between;
    position: relative;         /* ya no absolute */
}

.menu-icon span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.08rem;
    background: var(--color4);
    opacity: 0.7;
    transition: transform 0.4s ease, opacity 0.3s ease, background 0.3s ease;
}

/* color de la X (menú lateral) */

#menu-toggle:checked + .menu-icon span {
  background: var(--color1);    
}

.menu-icon span:nth-child(1) {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-icon span:nth-child(3) {
  bottom: -1px;
}

/* Transformación a X */

#menu-toggle:checked + .menu-icon span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

#menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .menu-icon span:nth-child(3) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

/* ===== ENLACES (DESKTOP + MOBILE) ===== */

.nav-links a, .nav-social a {
  font-size: 1.4rem;
  font-weight: 300 !important;
  color: var(--color4);
  text-decoration: none;
  transform: translateY(0px);
  transition: transform 0.4s ease;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;          /* ajusta la distancia al texto */
    width: 0;
    height: 1px;
    background-color: var(--color3);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 2rem;
    opacity: 0.5;
}

.nav-links a:hover, .nav-social a:hover {
    color: var(--color3);
    transform: translateY(-4px);
    transition: transform 0.4s ease;
}
/* Desktop */

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-logo, .nav-links, .nav-social, .nav-extra {
    flex: 1;
    display: flex;
    gap: 30px;
}

.nav-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: none;              /* oculto en el menú principal */
}

.nav-extra .nav-info span,
.nav-extra .nav-social a {
    font-family: var(--font2);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color1);
    text-decoration: none;
    line-height: 2rem;
}

/* Botón cerrar oculto por defecto */

.close-btn {
  display: none;
}

/* ===== MAIN Inicio ===== */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
}

main .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    gap: 30px;
}

main .container {
    flex: 1 1 calc(25% - 30px);
}

main p {
    font-weight: 300;
    line-height: 2rem;
    color: var(--color5);
}

main h1 {
    display: block;
    width: 100%;
    margin: 0 auto 20px auto;
    color: var(--color2);
}

main h2 {
    color: var(--color3);
    margin-bottom: 20px;
}

/* ===== MAIN Fin ===== */



/* ===== QUERIES Inicio ===== */

@media (max-width: 1024px) {

    .hero {
        height: 75vh;
        transition: height 0.4s ease;
    }

    .navbar {
        padding: 20px 0;
        transition: padding 0.5s ease;
    }
    
    .menu-icon {
        display: flex;
    }
    
    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background: var(--color3);
        padding: 100px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: right 0.4s ease;
    }
    
    /* Mostrar menú */

    #menu-toggle:checked ~ .nav-menu {
        right: 0;
    }
    
    #menu-toggle:checked ~ .nav-menu .nav-extra {
        display: block;
        margin-top: 20px;       /* separación de las RRSS */
    }

    /* Botón cerrar visible SOLO en mobile */

    .close-btn {
        display: block;
        align-self: flex-end;
        font-size: 1.8rem;
        cursor: pointer;
        margin-bottom: 2rem;
    }

    /* Enlaces alineados arriba izquierda */

    .nav-links {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .nav-links a, .nav-social a {
        color: var(--color1);
        opacity: 0;
        transform: translateX(20px);
    }

    .nav-links a::after {
        background-color: var(--color5);
    }

    .nav-links a:hover, .nav-social a:hover {
        color: var(--color5);
    }


    #menu-toggle:checked ~ .nav-menu .nav-links a,
    #menu-toggle:checked ~ .nav-menu .nav-social a {
        animation: cascade 0.4s forwards;
    }

    .nav-social {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }

    .nav-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* Cascada */
    
    #menu-toggle:checked ~ .nav-menu .nav-links a:nth-child(1) { animation-delay: 0.1s; }
    #menu-toggle:checked ~ .nav-menu .nav-links a:nth-child(2) { animation-delay: 0.2s; }
    #menu-toggle:checked ~ .nav-menu .nav-links a:nth-child(3) { animation-delay: 0.3s; }
    #menu-toggle:checked ~ .nav-menu .nav-links a:nth-child(4) { animation-delay: 0.4s; }
    #menu-toggle:checked ~ .nav-menu .nav-extra .nav-social a:nth-child(1) { animation-delay: 0.5s; }
    #menu-toggle:checked ~ .nav-menu .nav-extra .nav-social a:nth-child(2) { animation-delay: 0.6s; }
    #menu-toggle:checked ~ .nav-menu .nav-extra .nav-info span {
        opacity: 0;
        transform: translateX(20px);
        animation: cascadeExtra 0.4s forwards;
    }

    #menu-toggle:checked ~ .nav-menu .nav-extra .nav-info span:nth-child(1) { animation-delay: 0.7s; }
    #menu-toggle:checked ~ .nav-menu .nav-extra .nav-info span:nth-child(2) { animation-delay: 0.8s; }

    /* ===== QUERIES (768px) MAIN Inicio ===== */

    main .main-container {
        width: 90vw;
        gap: 20px;
        transition: width 0.4s ease, gap 0.4s ease;
    }

    main .container {
        flex: 1 1 calc(50% - 20px);
    }

    main h1, main h2 {
        text-align: center;
        transition: text-align 0.4s ease;
    }

    /* ===== QUERIES (768px) MAIN Fin ===== */



}

@media (max-width: 768px) {

    .hero {
        height: 45vh;
        transition: height 0.4s ease;
    }

}

@media (max-width: 384px) {

    .hero {
        height: 35vh;
        transition: height 0.4s ease;
    }

    .nav-menu {
        width: 100%;
        align-items: center;
    }

    .nav-logo {
        flex-direction: row;
        justify-content: flex-start;
    }

    .nav-logo .logo-txt {
        display: none;
    }

    .nav-logo .logo-txt-min {
        display: block;
    }

    .logo-txt-min a {
        line-height: 42.42px;
        font-size: calc(var(--logo) + 23px);
        transform: translateY(2px);
        transition: transform 0.4s ease;

    }

    .nav-links a::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .nav-links a, .nav-social a {
        text-align: center;
    }

    .nav-info {
        align-items: center;
    }

    main .container {
        flex: 1 1 calc(100%);
    }

}

/* Animación */

@keyframes cascade {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes cascadeExtra {
    to { 
        opacity: 1;
        transform: translateX(0);
    }
}